table{
	 width: $table_width;
	 margin: auto;
	 color: $font-color;
	 position : relative;
	 top: 70px;
	 left: -150px;
 }
 
 #table_body{
	 width: $table_width;
	 margin: auto;
	 color: $font-color;
	 position : relative;
	 top: 70px;
	 left: -100px;
	 text-align: center;
 }
 