$font-basic : Courier New;
$font-size : 25px;
$primary-color: #831928;
$secondary-color: #000000;
$font-color: #ffffff;
$container-width: 400px;
$table-width:800px;
$input-width: 380px;
$border-radius : 10px;
$text-shadow: 5px 5px $secondary-color;